<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <p>I am a graduate student of <a href="http://en.hit.edu.cn/"><font color="#40798C">Harbin Institue of Technology (HIT)</font></a>. At present, I am working with <a href="http://homepage.hit.edu.cn/zhafusheng?lang=en"><font color="#40798C">Pro.Fusheng Zha</font></a> and his research group at <a href="http://robot.hit.edu.cn/main.htm"><font color="#40798C">State Key Laboratory of Robotics and System</font></a>. <br>
        <br>
        My research topics include Visual SLAM, 3D Reconstruction and State Estimation for Mobile Robots. I sincerely hope that my research work can improve the lives of ordinary people, even if only a little bit.</p>
    </article>
</section>