<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Harbin Institute of Technology</address><time>2020 to 2021</time></span>
        </header>
        <p>
            <em>State Key Laboratory of Robotics and System</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Graduate</h1>
            <span><address>Harbin Institute of Technology</address><time>2018 to 2020</time></span>
        </header>
        <p>
            <em>State Key Laboratory of Robotics and System</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Undergraduate</h1>
            <span><address>Lanzhou University of Technology</address><time>2014 to 2018</time></span>
        </header>
        <p>
            <em>School of Mechatronics Engineering</em>
        </p>
    </article>
</section>