<section class="thirteen columns">
    <h1>Major Awards</h1>
    <article>
        <header>
            <h1>China National Scholarship (2016)</h1>
                
            <h1>Provicinal Merit Student Award (2016)</h1>
             
            <h1>First Prize of National English Competition for College Students (NECCS) (2016)</h1>

            <h1>Third Prize of ABU Asia-Pacific Robot Contest (ROBOCON) in China. (2017)</h1>

            <h1>Third Prize of National University Students Intelligent Car Race (2016)</h1>

            <h1>First Prize of Contemporary Undergraduate Mathematical Contest in Modeling (CUMCM) in Gansu Province (2016)</h1>

            <h1>Second Prize of ”Challenge Cup” National Undergraduate Curricular Academic Science and Technology Work by Race in Gausu Province (2017)</h1>

            <h1> Second Prize of China College Students’ ’Internet+’ Innovation and Entrepreneurship Competition in Gansu Province (2017)</h1>

            <h1>Second Prize of National 3D Innovative Design Competition in Gansu Province (2016)</h1>
        </header>
    </article>
</section>