<section class="thirteen columns">
    <h1>Publications</h1>

    <article>
        <header>
            <h1>Row Anchor Selection Classification Method for Early Stage Crop Row Following Illustrated with an Example of Corn</h1>
            <span>Chunyu Wei, Hailong Li, <font color="#061b38"><u>Junyi Shi</u></font>, Huaiqu Feng, Guoyang Zhao, Longzhe Quan</span>
        </header>
        <p>
            <em>(Under review)</em>
        </p>
        <!-- <p><a href="">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p> -->
    </article> 

    <article>
        <header>
            <h1>Real-time Visual-Inertial Dense Mapping towards Urban-Scale Environments</h1>
            <span><font color="#061b38"><u>Junyi Shi</u></font>, Fusheng Zha, Chunyu Wei</span>
        </header>
        <p>
            <em>(Under review)</em>
        </p>
        <p><a href="https://JunYiShih.github.io/Videos/Reconstruction/Odometry.mp4">
            <em><font color="#40798C">[Video1]</font></em>
            <a href="https://JunYiShih.github.io/Videos/Reconstruction/kitti.mp4">
            <em><font color="#40798C">&emsp;[Video2]</font></em>
        </a></p>
        <!-- <p><a href="">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p> -->
    </article> 

    <article>
        <header>
            <h1>Trajectory Adaptation of Biomimetic Equilibrium Point for Stable Locomotion of a Large-size Hexapod Robot</h1>
            <span>Chen Chen, Fusheng Zha, Wei Guo, Zhibin Li, Lining Sun, <font color="#061b38"><u>Junyi Shi</u></font></span>
        </header>
        <p>
            <em>Autonomous Robot, 45(1), 155-174, 2021</em>
        </p>
        <p><a href="https://JunYiShih.github.io/Publications/2021Autonomous.pdf">
            <em><font color="#40798C">[Paper]</font></em>
            <a href="https://JunYiShih.github.io/Videos/Hexapod/hexapod_walking.mp4">
            <em><font color="#40798C">&emsp;[Video]</font></em>
        </a></p> 
    </article> 

    <article>
        <header>
            <h1>Attitude Trajectory Optimization to Ensure Balance Hexapod Locomotion</h1>
            <span>Chen Chen, Wei Guo, Pengfei Wang, Lining Sun, Fusheng Zha, <font color="#061b38"><u>Junyi Shi</u></font></span>, Mantian Li 
        </header>
        <p>
            <em>Sensors 20(21), 6295, 2021</em>
        </p>
        <p><a href="https://www.mdpi.com/1424-8220/20/21/6295/pdf">
            <em><font color="#40798C">[Paper]</font></em>
        </a></p> 
    </article> 

    <article>
        <header>
            <h1>A Survey of Visual-Inertial SLAM for Mobile Robots</h1>
            <span><font color="#061b38"><u>Junyi Shi</u></font>, Fusheng Zha, Lining Sun, Wei Guo, Pengfei Wang, Mantian Li</span>
        </header>
        <p>
            <em>Jiqiren/Robot (In Chinese), 42(6), 734-748, 2020</em>
        </p>
        <p><a href="https://JunYiShih.github.io/Publications/20Survey.pdf">
            <em><font color="#40798C">[Paper]</font></em>
        </a></p>
    </article>  
    
    
    <article>
        <header>
            <h1>Dynamic Visual SLAM Based on Semantic Information and Multi-View Geometry</h1>
            <span><font color="#061b38"><u>Junyi Shi</u></font>, Fusheng Zha, Wei Guo, Pengfei Wang, Mantian Li</span>
        </header>
        <p>
            <em>IEEE International Conference on Automation, Control and Robotics Engineering (CACRE), 2020</em>
        </p>
        <p><a href="https://JunYiShih.github.io/Publications/2020CACRE.pdf">
            <em><font color="#40798C">[Paper]</font></em>
            <a href="https://JunYiShih.github.io/Videos/DynamicSLAM/dataset.mp4">
            <em><font color="#40798C">&emsp;[Video1]</font></em>
            <a href="https://JunYiShih.github.io/Videos/DynamicSLAM/lab.mp4">
            <em><font color="#40798C">&emsp;[Video2]</font></em>
        </a></p>
    </article>    
             
  
    <article>
        <header>
            <h1>A Free Gait Controller Designed for a Heavy Load Hexapod Robot</h1>
            <span>Fusheng Zha, Chen Chen, Wei Guo, Penglong Zheng, <font color="#061b38"><u>Junyi Shi</u></font></span>
        </header>
        <p>
            <em>Advances in Mechanical Engineering 11(3), 1687814019838369, 2019</em>
        </p>
        <p><a href="https://journals.sagepub.com/doi/pdf/10.1177/16878140198383699">
            <em><font color="#40798C">[Paper]</font></em>
        </a></p>
    </article>    
    
    <article>
        <header>
            <h1>Stair-Climbing Auxiliary Device With Self-Adaption</h1>
            <span>Jingxuan Li, <font color="#061b38"><u>Junyi Shi</u></font>, Fusheng Zha</b></span>
        </header>
        <p>
            <em>IEEE International Conference on Advanced Robotics and Mechatronics (ICARM), 2018</em>
        </p>
        <p><a href="https://JunYiShih.github.io/Publications/2018ICARM.pdf">
            <em><font color="#40798C">[Paper]</font></em>
            <a href="https://JunYiShih.github.io/Videos/Undergraduate/Mechanism.mp4">
                <em><font color="#40798C">&emsp;[Video1]</font></em>
                <a href="https://JunYiShih.github.io/Videos/Undergraduate/Upstairs.mp4">
                <em><font color="#40798C">&emsp;[Video2]</font></em>
        </a></p>
    </article>  
    
</section>
